*{
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    overflow-x: hidden;
}
.header {
    background-color: #001935;
    width:100vw;
    height: 14.074vh;
    top:0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
}
.nav {
    padding:0px 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
    width: 100%;

}
.logo {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 50px;
    color: #FF7426;
    font-weight: 700;
}
.nav-list li {
    display: flex;
    list-style: none;
    justify-content: space-between;
    column-gap:64px;
}

.nav-list li a {
    color:#fff;
    text-decoration: none;
    font-family:"Inter", sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;
    padding: 32px 12px; 
    position: relative;
    /* padding-left: 80px; */
}
.nav-list li a:hover {
    color: #FF7426 !important;
}

.paragraf {
    font-size:1.25vw;
    line-height: 36px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #000;
    text-align: justify;
}
.paragraf-khusus {
    font-size: calc(28/1920*100vw);
        line-height: 42px;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        color: #001935;
        text-align: justify;
}
.subjudul {
    font-weight: 700;
    font-size: calc(32/1920*100vw);
    line-height: 48px;
    color:#001935;
    text-align: center;
    font-family: "Merriweather", serif;
}
.subtopik {
    font-weight: 700;
    font-size: calc(30/1920*100vw);
    line-height: 48px;
    margin-top: calc(40/1920*100vw);
    color:#001935;
    text-align: left;
    font-family: "Merriweather", serif;
}
.nav-list li a:hover:after  {
    content: ""; 
    position: absolute;
    bottom: 0px; 
    color:#FF7426;
    left: 0;
    width: 100%;
    height: 10px; 
    border-radius: 5px; 
    background-color: #FF7426;
}

.judul-utama {
    font-family: "Merriweather", sans-serif;
    font-size: 3.75vw;
    line-height: 4.71vw;
    letter-spacing: -2%;
    font-weight: 700;
    color:#FF7426;
    width:35vw;
}
.brief-judul {
    color: #fff;
    font-weight: 400;
    font-size: 1.875vw;
    line-height: 2.8125;
    font-family: "Inter", sans-serif;
    text-align: justify;
}

.box-biru {
    padding:200px 195px 100px 195px;
}
.hr-kecil {
    border: 5px solid rgba(255, 116, 38, 1)!important;
    color: rgba(255, 116, 38, 1);
    opacity: 1 !important;
    z-index: 10;
    width:12.5vw;
    margin-top: calc(-10/1920*100vw);
    border-radius:10px;
}
.hr-sedang {
    width:37.5vw;
    border: 9px solid rgba(255, 116, 38, 1)!important;
    color: rgba(255, 116, 38, 1);
    opacity: 1 !important;
    z-index: 10;
}
.embed-dari-flourish {
    // margin: 50px calc(-100 / 1920*100vw) 50px calc(-250/1920*100vw);
    margin: 50px 0px 50px;
    display: flex;
    max-width: 100vw;
    align-items: center;
    column-gap: 45px;
}
.embed-dari-flourish button {
    width: 3.63vw;
    height: 3.64vw;
    background-color: transparent;
    border: none;
}
.embed-dari-flourish > div, .embed-dari-flourish > a  {
    width: 100%;
    border: 4px solid #FF7426;
    border-radius: 20px;
}